@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

/* -variables- */
/* colors */
$white: #eeeeee;
$pure-white: #ffffff;
$black: #222831;
$pure-black: #000000;
$grey: #393e46;
$primary: #00adb5;
/* sizes */
$size-smaller: 1rem;
$size-small: 1.2rem;
$size-regular: 1.6rem;
$size-big: 2rem;
$size-bigger: 3rem;

/* -setup styles- */
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif";
  color: $black;
  background-color: $white;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

/* reset Router style */
.link {
  color: inherit;
  text-decoration: inherit;
}

/* -reusables- */
/* text-styles */
.text-primary {
  color: $primary;
}
.text-grey {
  color: $grey;
}
.text-title {
  font-size: $size-bigger;
  color: $primary;
  text-align: center;
}

/* -components- */
/* header */
.header {
  background-color: $black;
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    color: white;

    .title {
      font-size: $size-big;
      font-weight: 600;
      line-height: 2em;
      cursor: pointer;
    }
    .nav {
      display: flex;
      margin: 0;
      padding: 0;
      .nav-item {
        list-style: none;
        margin-left: 2em;
        cursor: pointer;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}

/* Card */
.card {
  text-align: center;
  height: 60vh;
  font-size: $size-big;
  font-weight: 800;
  &-banner {
    line-height: 1.8em;
    background-color: $grey;
    color: $white;
  }
  &-content {
    position: relative;
    height: calc(100% - 1.8em);
    background-color: $pure-white;
    color: $grey;
    &-text {
      font-size: 0.8em;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &-bottom {
      display: flex;
      align-items: center;
      position: absolute;
      right: 2vw;
      bottom: 1vw;
      font-size: 0.6em;
    }
  }
}

/* ClickableIcon */
.icon {
  display: inline-block;
  cursor: pointer;
  &:hover {
    color: $primary;
  }
  &-after {
    color: $primary;
    transition: opacity 0.5s 0.2s;
    opacity: 1;
    &:hover {
      opacity: 0.6;
    }
  }
}

/* Input */
form {
  align-items: center;
}
.input-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 80%;
  margin-top: 4vh;
}
.form-label {
  width: 30%;
  font-size: $size-regular;
  font-weight: 600;
  margin-right: 2vw;
  text-align: end;
  color: $black;
}
.form-input {
  width: 100% - 30%;
  border: 2px solid $black;
  padding: 0.5em 0.5em;
  font-size: $size-small;

  &::placeholder {
    color: inherit;
    font-size: inherit;
    opacity: 0.8;
    text-align: center;
  }
}

/* Submit */
.submit-wrapper {
  width: 100%;
  margin-top: 2em;
  .btn-submit {
    border: none;
    display: block;
    padding: 0.4em 0.8em;
    margin-left: auto;
    background-color: $black;
    color: $primary;
    font-size: $size-small;
    &:hover {
      background-color: $grey;
    }
  }
}

/* -page-related- */
.gamepage {
  &-theme {
    text-align: center;
    padding-top: 4vh;
    font-size: $size-regular;
    font-weight: 600;
    span {
      font-size: $size-bigger;
      font-weight: 800;
      color: $primary;
    }
  }
  &-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    border: 4px solid $black;
    padding: 1em 1em;
    .card {
      // margin: 1em 0.4em 1em 1em;
    }
  }
}
