@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

/* -variables- */
/* colors */
$white: #eeeeee;
$pure-white: #ffffff;
$black: #222831;
$pure-black: #000000;
$grey: #393e46;
$primary: #00adb5;
$danger1: #f4442e;
$danger2: #d64933;
$danger3: #d7331d;
$danger4: #bc2c1a; //hov
// $danger5: #d7331d;

/* sizes */
$size-smaller: 1rem;
$size-small: 1.2rem;
$size-regular: 1.6rem;
$size-big: 2rem;
$size-bigger: 3rem;

/* -setup styles- */
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif";
  color: $black;
  background-color: $white;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

/* reset Router style */
.link {
  color: inherit;
  text-decoration: inherit;
}

.link-text {
  color: $primary;
  &:hover {
    color: $grey;
  }
}

form {
  text-align: center;
}

.form-bottom-text {
  margin-top: 2em;
}

/* -reusables- */
/* text-styles */
.text-primary {
  color: $primary;
}
.text-grey {
  color: $grey;
}
.text-title {
  font-size: $size-bigger;
  color: $primary;
  text-align: center;
}
/* effects */
.shadow {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* layouts */
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* -components- */
/* header */
.header {
  background-color: $black;
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    color: white;

    .title {
      font-size: $size-big;
      font-weight: 600;
      line-height: 2em;
      cursor: pointer;
    }
    .nav {
      display: flex;
      margin: 0;
      padding: 0;
      .nav-item {
        list-style: none;
        margin-left: 2em;
        cursor: pointer;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}

/* Card */
.card {
  text-align: center;
  height: 60vh;
  font-size: $size-big;
  font-weight: 800;
  &-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.8em;
    background-color: $grey;
    color: $white;
    &-icon {
      margin-right: 0.4em;
    }
  }
  &-content {
    position: relative;
    height: calc(100% - 1.8em);
    background-color: $pure-white;
    color: $grey;
    &-text {
      font-size: 0.8em;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &-bottom {
      display: flex;
      align-items: center;
      position: absolute;
      right: 2vw;
      bottom: 1vw;
      font-size: 0.6em;
    }
  }
}

/* ClickableIcon */
.clickable-icon {
  display: inline-block;
  cursor: pointer;
  &:hover {
    color: $primary;
  }
  &-after {
    color: $primary;
    transition: opacity 0.5s 0.2s;
    opacity: 1;
    &:hover {
      opacity: 0.6;
    }
  }
}

/* Button */
// default btn
.button {
  border: none;
  padding: 0.2em 1.2em;
  background-color: $black;
  color: $primary;
  font-size: $size-small;
  &:hover {
    background-color: $grey;
  }
  &:disabled {
    background-color: $black;
    color: $grey;
  }
  // danger btn
  &.btn-danger {
    background-color: $danger1;
    color: $white;
    &:hover {
      background-color: $danger3;
    }
    &:disabled {
      background-color: $danger3;
      color: $danger4;
    }
  }
}

/* BtnIcon */
.btn-icon {
  position: relative;
  background: #eee8e8;
  border: 2px solid $grey;
  border-radius: 0.2em;
  width: 1.2em;
  height: 1.2em;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    padding: 0.1em;
    transform: translate(-50%, -50%);
  }
}

.room-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  background-color: $pure-white;
  font-size: $size-regular;
  font-weight: 600;
  color: $black;
  padding: 0.6em 1em;
  margin-top: 2vh;
}

/* Input */
.input-wrapper {
  display: flex;
  justify-content: left;
}
.form-label {
  font-size: $size-regular;
  font-weight: 600;
  margin-right: 2vw;
  text-align: end;
  color: $black;
}
.form-input {
  border: 2px solid $black;
  padding: 0.2em 0.2em;
  font-size: $size-small;
  &::placeholder {
    color: inherit;
    font-size: inherit;
    opacity: 0.8;
    text-align: center;
  }
}

/* Submit */
.submit-wrapper {
  .btn-submit {
    border: none;
    display: block;
    padding: 0.4em 0.8em;
    background-color: $black;
    color: $primary;
    font-size: $size-small;
    &:hover {
      background-color: $grey;
    }
    &:disabled {
      background-color: $black;
      color: $grey;
    }
  }
}

/* Alert */
.alert {
  height: 1em;
  text-align: center;
  font-size: $size-small;
}
.danger {
  color: rgba(218, 24, 18, 1);
}
.success {
  color: rgb(29, 184, 68);
}

/* -page-related- */
.login,
.signup,
.update-profile,
.forgot-password,
.create-room {
  .input-wrapper {
    align-items: center;
    width: 70%;
    margin: 4vh auto 0 auto;
  }
  .form-label {
    width: 30%;
    & + .form-input {
      width: 100% - 30%;
    }
  }
  .form-input {
    width: 100%;
    padding: 0.5em 0.5em;
  }
  .submit-wrapper {
    width: 100%;
    margin-top: 2em;
    .btn-submit {
      margin-left: auto;
    }
  }
}

.gamepage {
  &-theme {
    text-align: center;
    padding-top: 4vh;
    font-size: $size-regular;
    font-weight: 600;
    span {
      font-size: $size-bigger;
      font-weight: 800;
      color: $primary;
    }
  }
  &-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    border: 4px solid $black;
    padding: 1em 1em;
    &-card {
      position: relative;
      &-icon {
        position: absolute;
        bottom: 1rem;
        right: 0.6rem;
        transform: translateY(50%);
      }
    }
  }
  &-controller {
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
    form {
      display: flex;
    }
    .btn-icon {
      margin-left: 0.1em;
    }
  }
}

.profile {
  text-align: center;
  font-size: $size-small;
  color: $black;
}

.update-profile {
  text-align: center;
}

.rooms {
  .room-link {
    &-name {
      margin-right: 1em;
    }
  }
}
