@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

/* variables */
$white: #eeeeee;
$pure-white: #ffffff;
$black: #222831;
$pure-black: #000000;
$grey: #393e46;
$primary: #00adb5;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif";
  background-color: $white;
}
.header {
  background-color: $black;
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    color: white;

    .title {
      font-size: 2em;
      font-weight: 600;
      line-height: 2em;
      cursor: pointer;
    }
    .nav {
      display: flex;
      margin: 0;
      padding: 0;
      .nav-item {
        list-style: none;
        margin-left: 2em;
        cursor: pointer;
      }
    }
  }
}

.container {
  width: 80vw;
  margin: 0 auto;
}

/* MainPage */
.main-page {
  text-align: center;
  font-size: 1.6em;
}

/* Card */
.card {
  &-banner {
    background-color: $grey;
    color: $white;
  }
  &-content {
    position: relative;
    height: 50vh;
    background-color: $pure-white;
    color: $grey;
    &-text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &-bottom {
      position: absolute;
      right: 1vw;
      bottom: 1vw;
    }
  }
}

/* ClickableIcon */
.icon {
  display: inline-block;
  cursor: pointer;
  &:hover {
    color: $primary;
  }
  &-after {
    color: $primary;
    transition: opacity 0.5s 0.2s;
    opacity: 1;
    &:hover {
      opacity: 0.6;
    }
  }
}

/* text-styles */
.text-primary {
  color: $primary;
}
.text-grey {
  color: $grey;
}
